<div class="container__big-card">
  <div class="big-card__photo">
    <img
     src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png"
     alt=""
     height="200px"

    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      Na v16, você encontrará uma nova biblioteca de sinais que faz parte do @angular/core e um pacote de interoperabilidade com o RxJS – @angular/core/rxjs-interop. A integração completa dos sinais no framework será lançada ainda este ano.
    </p>
  </div>
</div>
